.notFound{
    .text{
        .h2{
            font-size: 30px;
        }
        .h4{
            font-size: 16px;
        }
    }
}
@media only screen and (max-width: 600px) {
    .notFound{
        .text{
            .h2{
                font-size: 14px;
            }
            .h4{
                font-size: 10px;
            }
        }
    }
}