.card-body{
    background-color: #FFF3EB;

}

.through{
 text-decoration: line-through;   
}

.left-arrow{
    position: relative;
    top: 14rem;
    left: -1rem;
    z-index: 500;
}

.right-arrow{
    position: relative;
    top: -14rem;
    right: -68rem;
    z-index: 500;
}



@media(max-width:1200px) {
    .right-arrow{
        position: relative;
        top: -14rem;
        right: -57rem;
        z-index: 500;
    }
     
 }

@media(max-width:992px) {
   .block{
       display: none;
   }
    
}