div{
    font-family: serif;
}
.home-top{
    background-color: #FFF3EB;
}
.index{
    top:-44px   
}

.opacity{
    opacity: 0.7;
    font-size: 18px;
}

.home-content {
    background-color: #F2F2F2;
}
.top{
    position: relative;
    top: -15px;
}


.view{
    position: absolute;
    top: 10rem;
    border-radius: 10px;
}


@media(max-width:500px) {
    h2 {
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }

    
}
