/* Header mobile and desktop view */

.desktop-view-header {
  display: none;
}

.mobile-view-header {
  display: block;
}

@media (min-width: 769px) {
  .mobile-view-header {
    display: none;
  }
  .desktop-view-header {
    display: block;
  }
}
