.productImage{
    img{
        width: 200px;
        height: 200px;
    }
}
@media only screen and (max-width: 600px) {
    .productImage{
        img{
            width: 100px;
            height: 100px;
        }
    } 
}