/* Filter dropdown hover and sidebar style */

.filter-dropdown{
    width: 100%;
    position: absolute;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    display: none;
}

.filter-menu:hover .filter-dropdown{
    display: block;
}