body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light-pink{
  background-color:#FFF3EB !important;
}
.dark-pink{
  background-color:#F9DED1 !important;
}

.text-dark-pink{
  color:#F9DED1 !important;
}

.text-light-pink{
  color:#FFF3EB !important;
}

.text-light-brown{
  color: #E2886C;
}

.border-pink{
  border: 2px solid #E2886C!important
}

.w-90{
  width: 90%;
}

.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.hr-dark-pink{

  color: #E2886C;
}
