@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
$grey:  #777;
$grey2: #cfd5d6;
$red: #E2886C;
$white: #fff;
.text-white{
  color: $white;
}
.text-black{
  color: black;
}
.bg-white{
  background-color: $white;
}
.text-gray-400{
  caret-color: $grey2;
}
.font-lora{
    font-family: 'lora','sans';
}
.font-lora span:hover, .font-lora span.active{
    border-bottom: 2px solid #E2886C;
    padding: 0 0 2px;
    cursor: pointer;
}
.sub-btn{
    background: #E2886C 0% 0% no-repeat padding-box;
    opacity: 1;
}
.sub-btn:focus, input:focus{
    outline: none;
}
input{
    width: 100%;
}
input:focus +label, input:not(:placeholder-shown) +label{
    transition: all 0.3s ease-in;
    top: -60px;
    left: -10px;
}
.orange{
    color: $red;
}
.progress-track-block{
    position: absolute;
    top: 6px;
    left: 12%;
    width: 75%;
    height: 2px;
}
.progress-track {
    width: 33%;
    height: 2px;
    background-color: $red;
    z-index: 0;
}
.progress-step {
    position: relative;
    width: 100%;
    font-size: 12px;
    text-align: center;
    &:before {
        content: "";
        display: flex;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 15px;
        height: 15px;
        background: $grey2;
        border: 4px solid $grey2;
        border-radius: 100%;
        color: $grey;
      }
      
      // Step's progress bar in default state
      &:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        width: 0%;
        transition: width 1s ease-in;
        height: 5px;
        background: $red;
        z-index: 0;
      }
    &.is-active {
        color: $red;
      
        &:before {
          background: $white;
          border: 4px solid $red;
        }
      }
      &.is-complete {
        color: $red;
      
        // Step's circle in complete state
        &:before {
          font-size: 10px;
          color: $white;
          background: $red;
          border: 4px solid transparent;
        }
      
        // Step's progress bar in complete state
        &:after {
          background: $red;
        }
      }
  }

  .screen{
      z-index: 99999;
      position: fixed;
  }